html {
  scroll-behavior: smooth;
  margin: 10px;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #000;
}

main {
  text-align: center;
}

section {
  height: 150vh;
  margin-bottom: 150px;
  opacity: 0;
  transform: translateY(20px) scale(0.9); /* Zoom out: scale(0.9) */
  padding: 2rem;
  transition: opacity 0.3s ease, transform 0.8s ease;
}

section.active {
  opacity: 1;
  transform: translateY(100px) scale(1);
}

section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

section p {
  font-size: 18px;
  margin-bottom: 40px;
}

/* navbar style */

.navbar {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 10px;
}

.navbar.scrolled {
  backdrop-filter: blur(10px);
  background-color: rgba(97, 135, 110, 0.8);
}

.navbar-brand {
  color: #f1c93b;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.navbar-menu a {
  position: relative;
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
}

.navbar-menu a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #f1c93b;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navbar-menu a:hover::after {
  transform: scaleX(1);
}

.navbar-icons {
  display: flex;
  align-items: center;
  padding-left: 155px;
}

.navbar-icons img {
  margin-left: 15px;
  width: 28px;
  height: 28px;
}

.navbar-menu-icon {
  color: #eae7b1;
  display: none;
  cursor: pointer;
}

.navbar-dropdown {
  z-index: 3;
  display: none;
  position: fixed;
  text-align: left;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar-dropdown a {
  display: inline-block;
  width: 200px;
  color: #fff;
  margin: 10px;
  font-weight: bold;
  font-size: 28px; /* Ubah ukuran teks sesuai kebutuhan */
  padding: 10px;
  text-decoration: none;
}

.navbar-dropdown-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  cursor: pointer;
}

/* Navbar style end */

/* Landing page style */

.hero-content-dekstop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.hero-content-mobile {
  display: none;
}

.hero-text {
  flex: 1;
  text-align: left;
  margin-left: 40px;
}

.hero-image {
  flex: 1;
  text-align: right;
}

.hero-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

#hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #fff;
}

#hero p {
  font-size: 18px;
  margin-bottom: 40px;
  color: #fff;
}

#hero span {
  color: #f1c93b;
  font-weight: bold;
}

.btn {
  display: inline-block;
  background-color: #f1c93b;
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #fbd85d;
  color: #fff;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

/* Landing page style end */

/* About style  */

.about-card-dekstop {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 20px;
}

.title {
  display: flex;
  align-items: center;
}

.title h2 {
  font-size: 24px;
  margin-right: 10px;
  color: #fff;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #f1c93b;
}

.content {
  display: none;
  align-items: center;
  margin-top: 20px;
  color: #fff;
 
}

.profile-picture {
  width: 30%;
 height:auto;
  border-radius: 10px;
  margin-right: 20px;
}
.exp-picture {
  width: 40%;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.text-container {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.text-container p {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: left;
}
.text-container h1 {
  margin-bottom: 10px;
  font-size: 18px;
  font-height:bold;
  text-align: left;
}

.section-title {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.title-line {
  flex-grow: 1;
  height: 1px;
  background-color: #f1c93b;
  margin-right: 10px;
}

.section-title h2 {
  font-size: 24px;
  margin: 0;
  color: #fff;
}

/* carousel */

.carousel-container {
  position: relative;
  width: 40%;
  margin: 30px auto; /* Center the container horizontally and add margin on top */
  overflow: hidden;
}


.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
  width: 100%;
  height: auto;
  border-radius:10px;
}

.carousel-dots {
  text-align: center;
  margin-top: 10px;
}

.carousel-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-dot.active {
  background-color: #f1c93b;
}


/* carousel end */

/* card container responsive */

.card-container {
  display: none;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* card container responsive end */



.button-container {
  text-align: left;
}
.button-container-exp {
  text-align: right;
}

.button-container button {
  padding: 5px;
  color: #fff;
  background-color: rgba(241, 201, 59, 0.1);
  width: content;
  border: none;
  border-radius: 5px;
}
.button-container-exp button {
  padding: 5px;
  color: #fff;
  background-color: rgba(241, 201, 59, 0.1);
  width: content;
  border: none;
  border-radius: 5px;
}

.skill-card {
  display: inline-block;
  flex-basis: calc(
    25% - 20px
  ); /* 4 card per baris dengan ruang 20px antara card */
  max-width: calc(25% - 20px);
  border: 1px solid #f1c93b;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: scale(1.1);
}

.skill-card:hover {
  transform: scale(1.1);
}

.skill-card-content {
  display: flex;
  align-items: center;
  padding: 10px;
}

.skill-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.skill-text {
  margin: 0;
  color: #fff;
}

/* About style end */

/* Project style */
.card-container-project {
  display: none;
  margin-top: 20px;
  margin-bottom:100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.project-card {
  width: 290px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card__image {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.project-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card__content {
  padding: 20px;
  color: #fff;
  text-align: left;
}

.project-card__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.project-card__description {
  font-size: 14px;
  margin-bottom: 20px;
}

.project-card__language {
  font-size: 14px;
  color: #f1c93b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  margin-bottom: 5px;
}

.project-card__language--small {
  font-size: 12px;
  opacity: 0.8;
}

.project-card__icons {
  display: flex;
}

.project-card__icons i {
  margin-left: 5px;
}

/* Project style end */

/* Blog style */

..carousel-container-blog {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.scroll-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #fff;
}

.carousel {
  display: flex;
  cursor: grab;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1);
}

.card {
  flex: 0 0 calc(100% / 4);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}

.card-content {
  padding: 10px;
  color: #fff;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-description {
  font-size: 14px;
  margin-bottom: 10px;
}

.card-button {
  display: inline-block;
  padding: 6px 12px;
  background-color: #f1c93b;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.card-button:hover {
  background-color: #fff;
  color: #f1c93b;
}

.carousel::-webkit-scrollbar {
  height: 8px;
  background-color: rgba(0, 0, 0, 0.9);
}

.carousel::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Blog style end */

/* Style for the footer */
.footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  margin-top: 75px;
  padding: 10px 0;
  text-align: center;
}

.footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons {
  margin-top: 10px;
}

.social-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #f1c93b;
  border-radius: 50%;
  margin: 0 5px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.social-icon:hover {
  background-color: #e0a825;
}

.footer-text {
  margin-top: 15px;
  font-size: 16px;
}

/* Responsive about card */

@media (min-width: 769px) {
  .navbar {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 10px;
  }

  .about-card-mobile {
    display: none;
  }

  .about-card-dekstop {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 20px;
  }
}

/* Responsive about card end */

/* Responsive */

@media (max-width: 768px) {
  section {
    height: auto;
    margin-bottom: 150px;
    opacity: 0;
    transform: translateY(20px) scale(0.9); /* Zoom out: scale(0.9) */
    padding: 2rem;
    transition: opacity 0.3s ease, transform 0.5s ease;
  }

  section.active {
    opacity: 1;
    transform: translateY(10px) scale(1);
  }

  /* Navbar style responsive */

  .navbar-menu {
    display: none;
  }

  .navbar-menu-icon {
    display: block;
  }

  .navbar-icons {
    display: none;
  }

  .navbar-dropdown {
    display: none;
  }

  /* Navbar style responsive */

  /* Landing page style responsive */

  .hero-content-dekstop {
    display: none;
  }

  .hero-content-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
  }

  .hero-text {
    flex: 1;
    text-align: left;
    margin: 0px;
    width: 230px;
  }

  .hero-image {
    margin-top: 20px;
    text-align: center;
  }

  .hero-image img {
    max-width: 100%;
  }

  #hero h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #fff;
  }

  #hero p {
    font-size: 12px;
    margin-bottom: 40px;
    color: #fff;
  }

  /* Landing page style responsive */

  /* About style responsive */

  .about {
    padding-top: 70px;
  }

  .about-card-dekstop {
    display: none;
  }

  .about-card-mobile {

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 20px;
  }

  .content{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }



  .profile-picture {
    width: 80%;
    height: auto;
    border-radius:10px;
    margin-left:20px;
  }
  .exp-picture {
    width: 100%;
    height: auto;
    border-radius:10px;
    margin-left:20px;
  }

  .button-container-exp {
   display:flex;
   justify-content:center;
   flex-direction:row;
   flex-wrap: wrap;
   gap:10px;
  }
  
  .button-container-exp button {
    padding: 5px;
    color: #fff;
    background-color: rgba(241, 201, 59, 0.1);
    border: none;
    flex-basis: calc(
      50% - 20px
    ); /* 2 card per baris dengan ruang 20px antara card */
    max-width: calc(50% - 20px);
    border-radius: 5px;
  }

  .skill-card {
    flex-basis: calc(
      50% - 20px
    ); /* 2 card per baris dengan ruang 20px antara card */
    max-width: calc(50% - 20px);
  }

  /* About style responsive end */

  .project {
    padding-top: 50px;
  }

  .card {
    flex: 0 0 calc(100% / 1.1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
  }
}

.blog {
  margin-bottom: 0;
}

/* Responsive end */

/* mobile size */

@media (max-width: 480px) {
  .masuk-section {
    transform: translateY(20px);
    transition: opacity 1s ease, transform 3s ease;
  }

  .skill-card {
    flex-basis: 100%; /* 1 card per baris */
    max-width: 100%;
  }
}

/* mobile size end */
